<!--コンテンツページ-->
<body>

</body>

<header>
  <div class="header-logo">
  <a href="/top"><h2>Tweet_Samp</h2></a>
  </div>
  <ul class="header_menu">
    <a href="/contens"><li>Waht This Site</li></a>
    <a href="/posts/index"><li>投稿一覧</li></a>
  </ul>
  <div class="contens_haeder">
  </div>
</header>

<main>
  <div class="contens_main">
    <h1>TweetAppとは</h1>
    <p>
      SNSサービスです。
      近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
   </p>
      つぶやくことにより、あなたの世界は広がるでしょう
  </div>
  <div class="adduser_link">
      <a href="/user/user_add">さあ、まずはユーザー登録で世界を広げてみましょう！</a>
</main>

<footer>

</footer>
