<!--topページ-->
<body>
</body>
<header>
  <div class="header-logo">
  <a href="/top"><h2>Tweet_Samp</h2></a>
  </div>
  <ul class="header_menu">
    <a href="/contens"><li>Waht This Site</li></a>
    <a href="/posts/index"><li>投稿一覧</li></a>
  </ul>
</header>
<main>
  <div class="top_main">
  つぶやくことによって、世界は変わる！
  </div>
</main>

<footer>
  <div class="main_footer">

  </div>
</footer>
