<header>
  <div class="header-logo">
  <a href="/top"><h2>Tweet_Samp</h2></a>
  </div>
  <ul class="header_menu">
    <a href="/contens"><li>Waht This Site</li></a>
    <a href="/posts/index"><li>投稿一覧</li></a>
  </ul>
  <div class="contens_haeder">
  </div>
</header>
<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      今日からProgateでRailsの勉強するよー！
    </div>
    <div class="posts-index-item">
      投稿一覧ページ作成中！
    </div>
  </div>
</div>
