a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

*{
margin: 0;
}
body{
font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
font-weight: bolder;
}
header{
}
.header-logo{
float: left;
color: white;
vertical-align: middle;
}
.header_menu{
 list-style-type: none;
 float:right;
 padding: 0px 20px 0px 0px;
 bottom: 50px;
 color: white;
 font-size: 20px;
 vertical-align: middle;
}
.contens_haeder{
 background-color: turquoise;
 height: 70px;
 padding: 0;
}
main{

}
.top_main{
  height: 100%;
  width: auto;
  font-size:50px;
  text-align:center;
  padding: 400px 0 100px;
  min-height: 100vh;
  background-image: url("/top背景秋.jpg");
  background-size: cover;
  color: white;
}
.contens_main{
background-image: url("/背景.jpg");
background-size: cover;
min-height: 100vh;
height: 100%;
width: auto;

}

.adduser_link{
  color: black;
  text-align: center;
  font-family: fantasy;
  position: relative;bottom: 500px;
  font-size: 50px;
}

footer{
height: 100px;


}
.main_footer{
  height: 100px;
  background-color: gray;
}
